.homeSubscribe {
  height: 4rem;
  width: 250px;
  padding: 0 1.5rem;

  border-radius: 15rem;
  border: 0;

  background: var(--yellow-500);

  font-weight: bold;
  font-size: 1.25rem;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: filter 0.2s;

  &:hover {
    filter: brightness(0.8);
  }
}
